body {
<<<<<<< HEAD
	background-color: #f5f7fa;
=======
	background-color: #fbfef9;
	/*f5f7fa*/
>>>>>>> 8bd2cac5e61efd3ee8f79e6f45b53e697d0b7eb5
	/*182825*/
	/*2d1e2f*/
	/*6d8ea0*/
	/*523249*/
}

#beta-tag {
	font-size: 12;
}

.navbar-static-top {
	background-color: #1c1d21;
	color: black;
	border-bottom-width: 5px;
	border-bottom-color: #22aed1;
}

.navbar-brand {
	font-size: 30;
}

/*.nav.navbar-nav li a {
   color: black;
 }

/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #984447;;  /*Sets the text hover color on navbar*
}*/

.jumbotron {
	/*e6e8e6*/
	background-color: white;
	border-style: solid;
	border-color: grey;
	border-width: 2px
}

.well {
	background-color: white;
	border-color: grey;
	border-width: 2px;
}
#footer {
   position: relative;
   bottom:0;
   width:100%;
   background: #1e1a1d;
   color: grey;
}