<meta name="viewport" content="width = device-width, initial-scale = 1">
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<title>MTGBrew</title>
<content>
<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">MTGBrew</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Deck Search <span class="sr-only">(current)</span></a></li>
        <li><a href="/deck-builder/">Deck Builder</a></li>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="/{{request.user}}/my-decks">My Decks</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>

        {% else %}
          <li><a href="{% url 'auth_login' %}">Login/Register</a></li>

        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div><!-- /.container -->


<body>
<div class="container">
{% block content %}
{% endblock %}
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</content>