{% extends "brew/base.html" %}
{% block content %}

{# Import Style Sheet for Deck Searching #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'brew/search.css' %}" />

{# Container to provide padding on the edges #}
<div class="container">

	<div name="search-parameters" class="well">

		<h3 align="center">We Love Feedback!</h3>
		<p align="center"> Your feedback is essential for us to provide you with the best possible deck building experience.
			<br>
			Let us know what you think by sending an email to mtgbrew@gmail.com. Thanks for the support and we look forward to hearing from you!
		</p>
	</div><!-- /.search-parameters -->
</div><!-- /.container -->

{% endblock %}