{% extends "brew/base.html" %}
{% block content %}

{# Import Style Sheet for Deck Searching #}
{% load static %}
<head>
	<script src="{% static 'js/custom_tappedout_deckview.js' %}"></script>
	<link rel="stylesheet" href="{% static 'brew/decklist-formatting.css' %}">
</head>

<div class="container">
<div class="deck-details">

	{# Contains basic deck info. E.G: Name, author, price etc #}
	{# Aligned top-left #}
	<div class="deck-header">
	<div class="row" name="content">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h2>{{ deck.deck_name }} <small>by <a href="/{{ deck.deck_owner }}/my-decks">{{deck.deck_owner}}</a> </small></h2>
			</div> <!-- Deck Name & Author -->
		</div> <!-- Heading -->

		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<p>Deck Price (Online): {{ deck.deck_price_online }} </p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<p>Deck Price (Paper): {{ deck.deck_price_paper }} </p>
			</div>
		</div> <!-- Deck Prices -->

		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<p>{{deck.get_deck_format_display}}</p>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<p>Tags: {{deck.deck_tags}}</p>
			</div>
		</div><!-- Format & Tags -->

		<div>
			{% if current_user == deck_owner %}
				<a class="btn btn-info" href="/deck/{{deck.pk}}/edit">Edit Deck</a>
			{% else %}
				<button class="button btn-default">Edit Copy</button>
			{% endif %}
		</div><!-- Edit Button-->
	</div> <!-- Deck Header Row END -->
	</div> <!-- ./deck-header -->

	{# Displays the deck list. Formatting determined by widget in deck-header #}
	{# Has affiliate links located underneath #}
	{# Aligned mid-left #}
	<div class="row" name="decklist-details">
		<div class="col-lg-8">
			<div class="row" name="decklist">
				<div class="deck-list">
					{{deck.decklist_mainboard}}

					Sideboard|sideboard|Sideboard:
					{{deck.decklist_sideboard}}
				</div>
			</div>

			<div class="row" name="affiliate-links">
				<div class="col-sm-4">
				<form method="POST" action="https://www.cardhoarder.com/decks/upload?affiliate_id=twoo&deck={{url_decklist}}">
					<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-shopping-cart"></span> Buy on Cardhoarder</button>
				</form>
				</div>

				<div class="col-sm-4">
				<form method="POST" action="https://www.isleofcards.com/decks/upload?affiliate_id=twoo&deck={{url_decklist}}">
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Buy on Isle of Cards</button>
				</form>
				</div>
			</div>

			<div class="row" name="deck description">
				<div class="well">
					<h3>Description</h3>
					{{deck.deck_description|safe}}	
				</div>
			</div>
		</div>

		<div class="col-lg-4">
			<div class="well">
				<div class="row" name="color_chart">{{cardcolor_chart|safe}}</div>
				<div class="row" name="type_chart">{{cardtype_chart|safe}}</div>
				<div class="row" name="cmc_chart">{{cmc_chart|safe}}</div>
			</div>
		</div>
	</div>
	</div><!-- End of deck contents & graphs-->
	</div>

</div> <!-- ./deck-details -->
</div> <!-- ./container -->

{% endblock %}