{% extends "brew/base.html" %}
{% block content %}

{# Import Style Sheet for Deck Searching #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'brew/search.css' %}" />

{# Container to provide padding on the edges #}
<div class="container">

	<div name="search-parameters" class="well">

		<h3 align="center">Welcome to MTGBrew. To get stared please log in.</h3>

	</div><!-- /.search-parameters -->

	<div name="decks">
	<p> List of decks </p>
	</div>

</div><!-- /.container -->

{% endblock %}