{% extends "brew/base.html" %}
{% block content %}

{# Import Style Sheet for Deck Searching #}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'brew/search.css' %}" />

{# Container to provide padding on the edges #}
<div class="container">

	<div name="search-parameters" class="jumbotron">

		<div class="row">
			<form class="navbar-form navbar-left">
	        	<div class="form-group">
	          		<input type="text" class="form-control" placeholder="Search">
	        	</div>
	        	<button type="submit" class="btn btn-default">Submit</button>
	      	</form>

		</div><!-- /.row -->

		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">		
				{# Format Selector #}
				<div class="format-group">
				<label for="format-selection">Format:</label>
				<select class="format-control">
					<option>Standard</option>
					<option>Modern</option>
					<option>Legacy</option>
					<option>Vintage</option>
					<option>Commander/EDH</option>
					<option>Pauper</option>
				</select>
				</div><!-- /.format-group -->
			</div><!-- /.col -->

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				{# Tags Field #}
				<label for="tag-entry">Tags:</label>
			</div><!-- /.col -->

		</div><!-- /.row -->

			
		<div class="row">

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				{# Sort By Selector#}
				<div class="sort-group">
				<label for="sort-selection">Sort By:</label>
				<select class="sort-control">
					<option>Price (high-to-low)</option>
					<option>Price (low-to-high)</option>
					<option>Colour</option>
					<option>Deck Name (A-Z)</option>
					<option>Deck Name (Z-A)</option>
				</select>
				</div><!-- /.sort-group -->
			</div><!-- /.col -->

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				{# Price Range Field #}
				<form name="price-range-field" class="form-inline">
					<label for="price-range-label">Price:</label>
					<div class="form-group">
						<input type="number" id="min-price-field" min="0" placeholder="Min">
						<input type="number" id="max-price-field" min="0" placeholder="Max">
					</div><!-- /.form-group -->
				</form>
			</div><!-- /.col -->

		</div><!-- /.row -->

	</div><!-- /.search-parameters -->

	<div name="decks">
	<p> List of decks </p>
	</div>

</div><!-- /.container -->

{% endblock %}