{% extends "brew/base.html" %}
{% block content %}

{# Import Style Sheet for Deck Searching #}
{% load static %}
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/bootstrap-tagsinput.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'brew/search.css' %}" />
<link rel="stylesheet" href="{% static 'brew/bootstrap-tagsinput.css' %}">
<div class="container">

<form method="POST" class="deck-form">
	{% csrf_token %}	
	{{form.media}}
	<div name="deck-info" class="jumbotron">
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="row">

				{# Deck Name #}
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<div class="input-group input-group-md">
						<span class="input-group-addon">Deck Name</span>
						<input type="text" name="deck-name" class="form-control" placeholder="Your Awesome Deck Name">
					</div><!-- /.input-group -->
				</div><!-- /.col -->

			</div><!-- /.row -->

			<div class="row">

				{# Deck Tags #}
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
					<div class="input-group input-group-md">
						<span class="input-group-addon">Tags</span>
						<input type="text" name="deck-tags" class="form-control" data-role="tagsinput" placeholder="Type a tag then press enter">
					</div><!-- /.input-group -->
				</div> <!-- /.col -->

			</div><!-- /.row -->

			<br>

			<div class="row">

				{# Format Selector #}	
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="format-group">
					<label for="format-selection">Format:</label>
					{{form.deck_format}}
					</div><!-- /.format-group -->
				</div><!-- /.col -->

			</div><!-- /.row -->
			
			<br><br>

			<h4>Deck Options</h4>
			<div class="row">

				{# Is Deck Private #}
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="input-group input-group-md">
						<label><input type="checkbox" name="is-private" value="Private"> Is Private</label>
					</div><!-- /.input-group -->
				</div><!-- /.col -->

				{# Looking For Feedback #}
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="input-group input-group-md">
						<label><input type="checkbox" name="need-feedback" value="Feedback"> Needs Feedback</label>
					</div><!-- /.input-group -->
				</div><!-- /.col -->

			</div><!-- /.row -->
			</div><!-- /.col -->

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h4>Description</h4>
				{{form.deck_description}}
			</div><!-- /.col -->
	</div><!-- /.row -->

	</div><!-- /.jumbotron -->

	{# Deck Contents and Data #}
	<div class="row">

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div name="deck-contents" class="jumbotron">

				<ul  class="nav nav-pills">
					<li class="active"><a  href="#mainboard" data-toggle="tab">Mainboard</a>
					</li>
					<li><a href="#sideboard" data-toggle="tab">Sideboard</a>
					</li>
				</ul>

			<div class="tab-content clearfix">
			  	<div class="tab-pane active" id="mainboard">
          			<textarea style="resize:none" cols="25" rows="20"></textarea>
				</div>
				<div class="tab-pane" id="sideboard">
          			<textarea style="resize:none" cols="25" rows="20"></textarea>
				</div>
			</div>

			<br>
			<button type="submit" class="save btn btn-default">Save Deck</button>
			
			</div><!-- /.jumbotron -->
		</div><!-- /.col -->

		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<div name="add-single" class="jumbotron">
				<h4>Single Add</h4>
			</div><!-- /.jumbotron -->
		</div><!-- /.col -->

	</div><!-- /.row -->
</div>

</form>
{% endblock %}