{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="well col-lg-6 col-lg-offset-3" align="center">
<div class="inset">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</p><br>
    <p>If you do not receive an email another email can be sent by attempting to log in. Otherwise please contact us if you do not receive it.</p>
</div>
</div>
{% endblock %}
